$orange-default: #D87D4A;
$orange-on-hover: #fbaf85;
$black-default: #101010;
$black-on-hover: #4c4c4c;
$gray-default: #F1F1F1;
$gray-on-hover: #FAFAFA;
$white-default: #FFFFFF;
$dark-default: #000000;