body{
 background: rgb(247, 242, 242);
 max-width: 1460px;
}
a{
    text-decoration: none;
    color: white;
}
/* styling home page */
/* nav and header styles  */
.header{
    font-family: 'Manrope';
    background-image: url(/images/desctop/background.jpg);
    background-size: 100%;
    height: 730px;
    background-repeat: no-repeat;
}
.header_container{
    margin: 0 165px;
}
.nav{
    height: 28px;
    max-width: 1110px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid #979797;
}
.nav_title{
    font-size: 18px;
    font-weight: bold;
}
.nav_list{
    display: flex;
}
.nav_item_link{
    text-decoration: none;
    color: white;
    margin-right: 35px;
    font-size: 13px;
    letter-spacing: 2px;
}
.nav_item_link:hover{
    color: #D87D4A;
}
.chart_btn{
    cursor: pointer;
    border: none;
    background: none;
}
.home_product_headphones_new{
    margin-top: 128px;
    color: #F1F1F1;
    letter-spacing: 10px;
    font-size: 14px;
    opacity: 0.5;
}
.home_headphone_name{
     color: #FFFFFF;
     margin: 24px 0;
    letter-spacing: 2px;
    font-size: 56px;
    font-weight: bold;
    line-height: 58px;
}
.home_headphone_paragraph{
    margin-bottom: 158px;
     color: #F1F1F1;
    font-size: 16px;
    line-height: 25px;
    max-width: 349px;
    margin-bottom: 40px;
    opacity: 0.75;
}
#home_headphone_button{
    width: 160px;
    height: 48px;
    color: white;
    background-color: #D87D4A;
    border: none;
    letter-spacing: 0px;
    cursor: pointer;
}
/* section styles */
.home_section{
    font-family: 'Manrope';
    text-align: center;
    margin: 0 165px;
    margin-top: 200px;
    margin-bottom: 50px;
    max-width: 1110px;
    height: 285px;
}
.home_section_container{
    max-width: 1110px;
}
.home_section_items{
    display: flex;
    justify-content: space-between;
}
.home_item_pic_title{
    padding-top: 120px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    color: #000000;
}
.home_item_pic_link{
    text-decoration: none;
    
}
.home_item_pic_link span{
    margin-right: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.home_section_items_content{
    position: relative;
}
.home_section_items_image{
    height:200px;
    position: absolute;
    top: -70px;
    right: 50px;
    z-index: 99;
}
.home_section_items_text{
    background-color: #F1F1F1;
    position: relative;
    height: 205px;
    width: 320px;
    border-radius: 8px;
}
/* styiling main */
.home_main_container{
    font-family: 'Manrope';
    max-width: 1110px;
    margin: 0 165px;
}
.main_ZX9_speaker{
    background-color:#D87D4A ;
    height: 560px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.main_speaker_image{
    height: 490px;
    margin-left: 115px;
    margin-top: 100px;
}
.main_ZX9_speaker_content{
    width: 349px;
    height: 303px;
    margin-left: 120px;
}
.main_ZX9_speaker_content h2{
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.main_ZX9_speaker_content p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
}
.ZX9_speaker_button{
    cursor: pointer;
    width: 160px;
    height: 48px;
    background-color: black;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;

    letter-spacing: 1px;
}
.main_ZX7_speaker{
    height: 320px;
    margin: 48px 0;
    background-image: url(/images/desctop/ZX7_speaker_image.jpg);
    border-radius: 8px;
}
.main_ZX7_speaker_content{
    width: 210px;
    height: 118px;
    padding: 100px 95px;
}
.main_ZX7_speaker_content h2{
    width: 300px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    color: #000000;
}
.main_speaker_button{
    cursor: pointer;
    margin-top: 38px;
    width: 160px;
    height: 48px;
}

.main_YX1_earphones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:320px;
}
.YX1_earphones_text{
    background-color: #F1F1F1;
    height:320px;
    width: 540px;
    margin-left: 30px;
    text-align: center;
    border-radius: 8px;
}
.main_speaker_image_earphones{
    width: 540px;
    border-radius: 8px;
}
.main_YX1_earphones h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-right: 50px;
    color: #000000;
}

.YX1_earphones_text .main_speaker_button{
    cursor: pointer;
    margin-right: 130px;
}

.home_audio_gear{
    font-family: 'Manrope';
    height: 590px;
    margin: 200px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*  */
.home_audio_gear_text{
    height: 295;
    width: 445px;
    margin-right: 125px;
}
.home_audio_gear_text span{
    color: #D87D4A ;
}
.home_audio_gear_text_header{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
}
.home_audio_gear_text_paragraph{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.home_audio_gear_image img{
    border-radius: 8px;
    width: 440px;
}
/* footer styling */
.footer{
    font-family: 'Manrope';
    background-color: #000000;
    height: 365px;
}
.footer_header{
    margin: 0px 165px;
    width: 1050px;
}
.footer_nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 35px;
}
.nav_list{
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    list-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer_title{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}
.footer_text{
    color: #FFFFFF;
}
.footer_text_content:nth-child(1){
    width: 540px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
}
.twitter{
    margin: 0 15px;
}
.copyright{
    font-weight: 700;
    font-size: 15px;
    padding-top: 50px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

/* popup styiling */
.popup-wrapper{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    font-family: 'Manrope';
    width: 100%;
    max-width: 380px;
    height: 450px;
    margin: 7% 10% 10% 60%;
    padding: 20px;
    background: white;
    position: relative;
}
.popup-closer{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
} 
.popup_header{
    padding-top: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
}
.popup_content{
    margin: 20px 10px;
}
/* styiling headphones page  */
.headphones_header{
    font-family: 'Manrope';
    height: 336px;
    background-color: #000000;
}
.headphones_main{
    font-family: 'Manrope';
    max-width: 1460px;
    margin: 90px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headphones_title{
    color: #F1F1F1;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.42857px;
    color: #FFFFFF;
}
.headphone_img{
    border-radius: 8px;
    width: 480px;
}
.headphone_main_header{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
}
.headphone_main_paragraph{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.headphone_main_pic_text{
    margin-left: 105px;
    height: 295;
    width: 445px;
}
.headphone_main_pic_text_left{
    margin-right: 105px;
    height: 295;
    width: 445px;
}
.headphones_dif_img p{
    margin-top: 32px;
    margin-bottom: 40px;
}
.headphone_main_new{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #D87D4A;
}
.headphone_mark_pic_text h3{
    margin-bottom: 32px;
}
.headphone_mark_pic_text button{
    cursor: pointer;
    margin-top: 40px;
}
.headphone_section {
    margin-bottom: 0;
    margin-top: 200px;
}
.headphone_blog{
    margin: 0 165px;
}

/* styiling products */
.products_section{
    margin: 0 165px;
}
.back{
    padding-top: 60px;
}
.back a{
    margin: 0 165px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.price{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
}
.products_main{
    margin-top: 50px;
}
.add_cart_button{
    width: 160px;
    height: 48px;
    color: white;
    background-color: #D87D4A;
    border: none;
    letter-spacing: 0px;
    cursor: pointer;
}
.products_info{
    font-family: 'Manrope';
    margin-bottom: 20px;
}
.product_header{
    background-color: #000000;
}
.product_info_text{
    height: 318px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.product_text_header{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    color: #000000;
}
.product_text_paragraph{
    margin-bottom: 20px;
}
.product_info_text_one{
    width: 635px;
    height: 318px;
}
.product_info_text_one p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.product_info_text_two{
    width: 350px;
    height: 225px;
}
.product_text_ul{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.product_text_ul span{
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #D87D4A;
    margin-right: 15px;
}

.products_info_image{
    display: flex;
    justify-content: space-between;
}
.info_image_first{
    width: 445px;
    margin-top: 30px;
    height: 280px;
    border-radius: 8px;
}
.info_image_sec{
    margin-top: 30px;
    width: 540px;
    height: 590px;
    border-radius: 8px;
}
.product_adds_section{
    font-family: 'Manrope';
    margin: 0 165px;
}
.adds_section_content_container{
    display: flex;
    justify-content: space-between;
}
.product_adds_section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_adds_section_header{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #000000;
}
.adds_section_content_img{
    width: 330px;
    height: 318px;
    margin-bottom: 30px;
}
.adds_section_content_header{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}
/* checkout styiling */
.checker{
    font-family: 'Manrope';
    margin: 0 50px 50px 120px;
    background-color: #FFFFFF;
}
.chacker_wrapper{
    display: flex;
}
.checker_container{
    width: 700px;
    padding: 50px;
}
.check_header{
    margin: 20px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #000000;
}
/*  */
.checker_popup_wrapper{
    font-family: 'Manrope';
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.checker_popup{
    font-family: 'Manrope';
    width: 100%;
    max-width: 420px;
    height: 450px;
    margin: 7% 10% 10% 60%;
    padding: 20px;
    background: white;
    position: relative;
}
.checker_popup_closer{
    padding-top: 10px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #000000;
} 
.checker_popup_header{
    padding-top: 5px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #000000;
}
.checker_popup_p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 10px 0;
}
.check_content_wrap{
    display: flex;
    padding-bottom: 30px;
}
.checker_content_place{
    width: 180px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom:10px ;
    border-radius: 8px;
    background-color: #F1F1F1;
}
.checker_content_place_item{
    width: 160px;
    display: flex;
    border-bottom: 1px solid rgb(207, 205, 205);
}
.more_items{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    padding-left: 40px;
    letter-spacing: -0.214286px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.checker_content_place_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 140px;
    background-color: #000000;
    border-radius: 8px;
}
.popup_content{
    margin: 20px 10px;
}
.checker_content_place_right .checker_count{
    padding-top: 30px;
    color: #F1F1F1;
}
/*  */
.billing_header{
    margin-top: 30px;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.928571px;
    text-transform: uppercase;
    color: #D87D4A;
}
.billing_form{
    display: flex;
    justify-content: space-between;
}
.billing_form_hed{
    margin-top: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.214286px;
    color: #000000;
}
.billing_form_inp{
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    width: 290px;
    height: 50px;
    padding-left: 25px;
}

.inp_long{
    width: 100%;
}
.payment_method{
    display: flex;
    justify-content: space-between;
}
.payment_method_col{
    display: flex;
    flex-direction: column;
}
.radio{
    margin-top: 10px;
    width: 290px;
    height: 50px;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
}
.radio label{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}
.summary{
    width: 350px;
    height: 600px;
    font-family: 'Manrope';
    background-color: #ffffff;
}
.summary_header{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
    padding: 50px;
    
}
.summary_content{
    padding: 0 50px;
}
.content_place{
    width: 160px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.summary_content_img{
    width: 64px;
    height: 64px;
}
.content_place_text{
    padding-left: 15px;
}
.summary_content_header{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.summary_content_text{
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.total_wrapper{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.counter{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.cost{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}
.f_cost{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    text-transform: uppercase;
    color: #D87D4A;
}
.summary_but{
    text-align: center;
}

